@charset "utf-8";
/**
* leson checkbox && radio css
* 2015-02-11
*
* 提示框共用样式表
*
**/


label.checkbox {padding-left: 32px; cursor:pointer;background: url(../images/chk.png) no-repeat left 0; line-height:25px; height:25px; display:inline-block; }
label.checked {background-position:left 100%; }
label.disabled {background-position:left 0px;}
.hRadio {padding-left: 32px; display: inline-block;background: transparent url(../images/radio.png) no-repeat left top;height: 25px; line-height:25px;cursor:pointer;vertical-align:middle;}
.hRadio_Checked { background-position: left bottom;}